{% extends "layouts/default.html" %}
{% set active_page = "register" %}

{% block body %}

    <header class="section-header" style="margin-top: 50px;">
        <h3>About Euro 2024 Challenge</h3>
        <p>Euro 2024 Challenge is created just for fun. Nothing too serious about that. We promise we won't share your data. We don't guarantee accurate and correct data, however, please do report any unexpected behaviour in the app. 
            We try our best to fix the issue as soon as possible.</p>
    </header>

    <div class="container">

        <h2>Rules</h2>
        <ul>
            <li>Register</li>
            <li>Compete individually or you can join and create leagues with your friends</li>
            <li>Make predictions and earn points. Here are the game rules:</li>
        </ul>
        
        <h2>Game Rules</h2>
        <ul>
            <li>10 points for guessing the exact score</li>
            <li>7 points for guessing the winner and goal difference</li>
            <li>6 points for guessing the winner and one side's score</li>
            <li>5 points for guessing a draw</li>
            <li>4 points for guessing the winner</li>
            <li>3 points for guessing one side's score</li>
            <li>1 point for guessing the exact opposite score</li>
        </ul>
        
        <h2>Bonus Points</h2>
        <p>Additionally, you will get a bonus shared every match. The bonus is calculated like this: For every prediction for that match, 1 point is added to the tally, and this will be divided by the number of exact predictions. If no one wins, the remaining points will be transferred to the next match.</p>
    </div>


{% endblock %}