{% extends "layouts/default.html" %}
{% set active_page = "register" %}

{% block body %}

    <header class="section-header" style="margin-top: 50px;">
      <h3>Sign up</h3>
      <p>Please register to make awesome predictions</p>
    </header>

    <div class="container">
      <div class="row">
        {% for message in form.nickname.errors %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
         
        {% for message in form.email.errors %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
         
        {% for message in form.password.errors %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
     
        <form action="{{ url_for('register') }}" method=post>
          {{ form.hidden_tag() }}
          <table style="padding-bottom: 30px;">
            <tr>
              <td> {{ form.nickname.label }} </td>
              <td> {{ form.nickname }} </td>
            </tr>
            <tr>
              <td>{{ form.email.label }}</td>
              <td>{{ form.email }}</td>
            </tr>
            <tr>
              <td>{{ form.password.label }}</td>
              <td>{{ form.password }}</td>
            </tr>
            <tr>
              <td>{{ form.submit }}</td>
            </tr>
          </table>
        </form>
      </div>
    </div>

     
{% endblock %}