{% extends "layouts/default.html" %}
{% set active_page = "teams" %}

{% block body %}

	<header class="section-header" style="margin-top: 50px;">
      <h3>Teams</h3>
      <p>There are 6 groups and 24 teams this years Euro Cup.</p>
    </header>

    <div class="row">

    	<table class="table table-striped">
		  <thead>
		    <tr>
			<th scope="col">#</th>
		      <th scope="col">Group</th>
		      <th scope="col">Team Name</th>
		    </tr>
		  </thead>
		  <tbody> 
		  	{% for team in teams %}
		  		<tr>
			      <td>{{loop.index}}</th>
				  <td>{{ team.group}}</td>
			      <td class="team">
					<img src="https://img.uefa.com/imgml/flags/240x240/{{ team._id }}.png" alt="{{ team.code}}" title="{{ team.code}}">
			      	{{ team.name }}
			      </td>
			    </tr>
			{% endfor %}
		  </tbody>
		</table>

	</div>
{% endblock %}